Options -Indexes
Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond $1 !^(assets|core|database|config|robot\.txt)

RewriteRule ^(.+)$ index.php/$1